<html>
<head>
<title>Modifier une reservation</title>
</head>
<body>
<table>
<form action="/reservation/updates" method="post">
<tr><td>fullName :</td><td><input type="text" name="fullName" id="fullName" value="{{data.fullName}}"/></td></tr>
<tr><td>email :</td><td><input type="email" name="email" id="email" value="{{data.email}}"/></td></tr>
<tr><td>nb_enfants :</td><td><input type="number" name="nb_enfants" id="nb_enfants" value="{{data.nb_enfants}}"/></td></tr>
<tr><td>nb_adultes :</td><td><input type="number" name="nb_adultes" id="nb_adultes" value="{{data.nb_adultes}}"/></td></tr>
<tr><td>date_debut :</td><td><input type="date" name="date_debut" id="date_debut" value="{{data.date_debut}}" /></td></tr>
<tr><td>date_fin :</td><td><input type="date" name="date_fin" id="date_fin" value="{{data.date_fin}}" /></td></tr>
<tr><td></td><td><input type="hidden" name="id" id="id"  value="{{data._id}}"/></td></tr>

<!-- <tr><td>Location :</td><td>
<select name="Location" id="Location" value="{{data.Location}}">
    <option value="">--Please choose an option--</option>
    <option value="Sousse">Sousse</option>
    <option value="Hammamet">Hammamet</option>
    <option value="Djerba">Djerba</option>
    <option value="Tabarka">Tabarka</option>
    <option value="Bizerte">Bizerte</option>
    <option value="Gammart">Gammart</option>
</select></td></tr> -->
<tr><td colspan="2"><input type="submit" value="Modifier" /></td>
</form>
</table>
</body>
</html>